<div class="grid card grid-nogutter" style="column-gap: 2rem; row-gap: 2rem;">
    <div class="col-12">
        <p class="text-900 font-bold">Contact Me</p>
    </div>
    <div class="col-12 mt-3 h-20rem border-1 surface-border p-0 w-full bg-cover border-round" [ngStyle]="mapStyle">
        
    </div>
    <div class="col-12 mt-5">
        <div class="grid grid-nogutter px-2 flex-column md:flex-row" style="column-gap: 2rem; row-gap: 2rem;">
            <div *ngFor="let item of content" class="col flex flex-column justify-content-center text-center align-items-center border-1 surface-border py-5 px-4 border-round">
                <i class="pi pi-fw text-2xl text-primary" [class]="item.icon"></i>
                <span class="text-900 font-bold mt-4 mb-1">{{item.title}}</span>
                <span class="text-500">
                    <ng-container *ngIf="item.link; else noLink">
                        <a [href]="item.link" target="_blank" rel="noopener noreferrer">{{ item.info }}</a>
                    </ng-container>
                    <ng-template #noLink>
                        {{ item.info }}
                    </ng-template>
                </span>
            </div>
        </div>
    </div>

    <app-contact-form class="col-12 mt-5"></app-contact-form>
</div>